{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Project Flat Responsive Widget Template :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Project Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<!-- Google fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">

</head>
<!-- body starts -->
<bod id='bg' style="background-image:url('{% static 'img/image.jpg'%}');">
<!-- section -->
<section class="register">
	<div class="header">
		<div class="logo">
			<a href="#">Welcome To  Go Tour</a>
		</div>
	<div class="bg-image" >
		<div class="filter-blur"> </div>
	</div>
	<div class="social">
			<box-icon type='logo' name='facebook-circle' style="background-image:url('{% static 'img/logo.jpg'%}');"></box-icon>
			<box-icon name='instagram-alt' type='logo' ></box-icon>
			<box-icon name='twitter' type='logo' ></box-icon>
			<li><a href="#"><span class="fa fa-facebook" style="background-image:url('{% static 'img/ff.jpg'%}');"></span></a></li>
			<li><a href="#"><span class="fa fa-twitter" style="background-image:url('{% static 'img/tt.jpg'%}');"></span></a></li>
			<li><a href="#"><span class="fa instagram" style="background-image:url('{% static 'img/ll.jpg'%}');"></span></a></li>
	</div>
		<div class="clear"></div>
	</div>

	<div class="register-full">
		<div class="register-left">
			<div class="register-a">
				<h1>Saving Tours</h1>
				<h2>Esaily order tour</h2>
				<div class="content3">
				</div>
			</div>
		</div>
		<div class="register-right">
			<div class="register-in">
				<a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="/signup/">register here passegers »</a>
			</div>
			<div class="register-in middle">
				<a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="/Login/">login here »</a>
			</div>
			<div class="register-in">
				<a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="/DriverSignup/">register here Driver »</a>
			</div>
			<div class="clear"> </div>
		</div>
	<div class="clear"> </div>
	</div>
	<!-- copyright -->

	<!-- //copyright -->
</section>



<!-- //register form popup-->

<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->

<!--popup-js-->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
 <script>
	$(document).ready(function() {
	$('.popup-with-zoom-anim').magnificPopup({
		type: 'inline',
		fixedContentPos: false,
		fixedBgPos: true,
		overflowY: 'auto',
		closeBtnInside: true,
		preloader: false,
		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-zoom-in'
	});

	});
</script>
<!--//popup-js-->

</body>
<style> 

</style>
<!-- //body ends -->
</html>