{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

<link rel="stylesheet" type="text/css" href="{% static 'signup.css'%}">
    <title>Singin Page</title>
</head>
<body id='bg' style="background-image:url('{% static 'img/image.jpg'%}');"

        <form action="" method="post">
            {% csrf_token %}
            <div class="wrapper" style=" max-width: 900px;">
                {% for massage in messages %}
                <p class="alert alert-danger">{{message}}</p>
                {% endfor %}
                <div class="title" style="font-size: 25px;">
                    Singup Here
                </div>
                <div class="form">

                    <div class="inputfield" style="  margin-left: 25px;
                                                     margin-top: 30px;
                                                     width: 125px;
                                                     color: #FFFFFF;
                                                    font-size: 17px;
                                                    font-weight: 700;">
                        <label>First Name</label>
                        <input type="text" id="Fname" name="Fname">
                    </div>

                    <div class="inputfield" style="  margin-left: 25px;
                                                     margin-top: 30px;
                                                     width: 125px;
                                                     color: #FFFFFF;
                                                    font-size: 17px;
                                                    font-weight: 700;">
                        <label>Last Name</label>
                        <input type="text" id="Lname" name="Lname">

                    </div>


                    <div class="inputfield" style="  margin-left: 25px;
                                                     margin-top: 30px;
                                                     width: 125px;
                                                     color: #FFFFFF;
                                                    font-size: 17px;
                                                    font-weight: 700;">
                        <label>User Name</label>
                        <input type="text" id="username" name="username">
                    </div>

                    <div class="inputfield" style="  margin-left: 25px;
                                                     margin-top: 30px;
                                                     width: 125px;
                                                     color: #FFFFFF;
                                                    font-size: 17px;
                                                    font-weight: 700;">
                        <label>Password</label>
                        <input type="password" id="pass1" name="pass1">
                    </div>

                    <div class="inputfield" style="  margin-left: 25px;
                                                     margin-top: 30px;
                                                     width: 125px;
                                                     color: #FFFFFF;
                                                    font-size: 17px;
                                                    font-weight: 700;">
                        <label>Confirm Password</label>
                        <input type="password" id="pass2" name="pass2">
                    </div>

                    <div class="inputfield" style="  margin-left: 25px;
                                                     margin-top: 30px;
                                                     width: 125px;
                                                     color: #FFFFFF;
                                                    font-size: 17px;
                                                    font-weight: 700;">
                        <label>Email Address</label>
                        <input type="email" id="email" name="email">
                    </div>

                    <div class="inputfield" style="  margin-left: 25px;
                                                     margin-top: 30px;
                                                     width: 125px;
                                                     color: #FFFFFF;
                                                    font-size: 17px;
                                                    font-weight: 700;" >
                        <label>Phone Number</label>
                        <input type="text" id="phone" name="phone">
                    </div>


                  
                    <div class="inputfield">
                        <input type="submit" id="btn" value="Register" class="btn" style="
                         width: 550%;
                         padding: 8px 10px;
                        font-size: 25px;
                         border: 0px;
                         background: #000000;
                         color: #fff;
                         cursor: pointer;
                          border-radius: 3px;
                            outline: none;
                         size: 16px;
                        ">
                       
                    </div>
                </div>
            </div>
            </form>
 <style>



    </style>
    </body>
</html>

